.player-state {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.green-player-state {
  background-color: #25B79F;
}

.yellow-player-state {
  background-color: #FFB000;
}

.player-points {
  font-family: "Segoe UI", sans-serif;
  color: #4A4A4A;
  font-size: 60px;
  margin: 30px 0 30px 0;
}

.player-name {
  font-size: 30px;
  font-family: 'Segoe UI', sans-serif;
  color: #4A4A4A;
  margin: 0 20px 0px 20px;
  padding: 15px 25px 20px 25px;
}

.line {
  align-self: center;
  box-sizing: border-box;
  height: 2px;
  background-color: #4A4A4A;
  width: 80%;
}