.cell {
    background-color: white;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #979797;
    height: 70px;
    width: 70px;
}

.highlighted-cell {
    background-color: #979797;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #979797;
    height: 70px;
    width: 70px;
}

.miss-cell {
    background-image: url("../pics/miss.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.hit-cell {
    background-image: url("../pics/hit.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}