.ship-state-icons {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-basis: 25px;
  width: 50%;
  flex: 1 0 auto;
}

.ship-live {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  flex-basis: 40px;
}

.undamaged {
  background-image: url("../pics/miss.small.png");
}

.damaged {
  background-image: url("../pics/hit.small.png");
}