.ship-state-icons {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    width: 50%;
}

.ship-live {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    margin: 0px 0px 30px 20px;
    padding-bottom: 10px;
}

.undamaged {
    background-image: url("../pics/miss.small.png");
}

.damaged {
    background-image: url("../pics/hit.small.png");
}