body {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

@media (max-width:1200px) {
  .main-content {
    padding-right: 10px;
  }
  body {
    justify-content: flex-start;
  }
}

@media (max-height: 560px) {
  .main-content {
    padding-bottom: 10px;
  }
  body {
    align-content: flex-start;
    align-items: flex-start;
  }
}

@font-face {
  font-family: Segoe UI;
  src: url("font/SegoeUI-Bold.ttf")
}